<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Legislatif</title>
</head>

<body>
  <div class="container" id="app">

    <div class="row">
      <div class="col-md-12">
        <div id='map' style='width: 100%; height: 600px;'></div>
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidmFuYnVna3JpbmciLCJhIjoiY2p1dHhnZ3VpMGN0MzRkcXF4NXg2aHN1YyJ9.ksNqwRAOynxRWKa2fq7Rvw';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
        });
        </script>
      </div>
      <div class="col-md-12">

      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>
