<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {
      'packages': ['geochart']
    });
    google.setOnLoadCallback(fetchAPI);
    var intlCode = [
      [{
        f: 'Aceh',
        v: 'ID-AC'
      }, 10],
      [{
        f: 'Bali',
        v: 'ID-BA'
      }, 7],
      [{
        f: 'KEPULAUAN BANGKA BELITUNG',
        v: 'ID-BB'
      }, 2],
      [{
        f: 'Banten',
        v: 'ID-BT'
      }, 6],
      [{
        f: 'Bengkulu',
        v: 'ID-BE'
      }, 2],
      [{
        f: 'Gorontalo',
        v: 'ID-GO'
      }, 8],
      [{
        f: 'Jambi',
        v: 'ID-JA'
      }, 1],
      [{
        f: 'Jawa Barat',
        v: 'ID-JB'
      }, 5],
      [{
        f: 'Jawa Tengah',
        v: 'ID-JT'
      }, 5],
      [{
        f: 'Jawa Timur',
        v: 'ID-JI'
      }, 3],
      [{
        f: 'Kalimantan Barat',
        v: 'ID-KB'
      }, 2],
      [{
        f: 'Kalimantan Selatan',
        v: 'ID-KS'
      }, 4],
      [{
        f: 'Kalimantan Tengah',
        v: 'ID-KT'
      }, 4],
      [{
        f: 'Kalimantan Timur',
        v: 'ID-KI'
      }, 10],
      [{
        f: 'Kalimantan Utara',
        v: 'ID-KU'
      }, 1],
      [{
        f: 'Kepulauan Riau',
        v: 'ID-KR'
      }, 5],
      [{
        f: 'Lampung',
        v: 'ID-LA'
      }, 8],
      [{
        f: 'Maluku',
        v: 'ID-MA'
      }, 7],
      [{
        f: 'Maluku Utara',
        v: 'ID-MU'
      }, 3],
      [{
        f: 'Nusa Tenggara Barat',
        v: 'ID-NB'
      }, 4],
      [{
        f: 'Nusa Tenggara Timur',
        v: 'ID-NT'
      }, 8],
      [{
        f: 'Papua',
        v: 'ID-PA'
      }, 6],
      [{
        f: 'Papua Barat',
        v: 'ID-PB'
      }, 5],
      [{
        f: 'Riau',
        v: 'ID-RI'
      }, 3],
      [{
        f: 'Sulawesi Barat',
        v: 'ID-SR'
      }, 5],
      [{
        f: 'Sulawesi Selatan',
        v: 'ID-SN'
      }, 4],
      [{
        f: 'Sulawesi Tengah',
        v: 'ID-ST'
      }, 8],
      [{
        f: 'Sulawesi Tenggara',
        v: 'ID-SG'
      }, 1],
      [{
        f: 'Sulawesi Utara',
        v: 'ID-SA'
      }, 10],
      [{
        f: 'Sumatera Barat',
        v: 'ID-SB'
      }, 3],
      [{
        f: 'Sumatera Selatan',
        v: 'ID-SS'
      }, 10],
      [{
        f: 'Sumatera Utara',
        v: 'ID-SU'
      }, 9],
      [{
        f: 'Dki Jakarta',
        v: 'ID-JK'
      }, 10],
      [{
        f: 'DAERAH ISTIMEWA YOGYAKARTA',
        v: 'ID-YO'
      }, 2]
    ];

    var dataSourceKPU = [];
    var dataSourceKP = [];
    var dataSourceKPP = [];

    function fetchAPI() {
      $.get('/?type=json', // url
        function(data, textStatus, jqXHR) { // success callback
          console.log(data);
          ///do clean data
          for (var i = 0; i < intlCode.length; i++) {
            var source = intlCode[i][0]['f']
            for (var j = 0; j < data.data.KP.children.length; j++) {
              var now = data.data.KP.children[j][1];
              if (now.toLowerCase() === source.toLowerCase()) {
                data.data.KP.children[j].push(intlCode[i][0]['v'])
              }
            }
          }
          for (var i = 0; i < data.data.KP.children.length; i++) {
            var key = data.data.KP.children[i][0];
            var arraySourceKP = [];
            var arraySourceKPU = [];
            data.data.KP.data[key]['sum']['pas1']
            arraySourceKP.push({
              'f': data.data.KP.children[i][1],
              'v': data.data.KP.children[i][5]
            }, parseInt(data.data.KP.data[key]['sum']['pas1']) > parseInt(data.data.KP.data[key]['sum']['pas2']) ? 1 : 2);
            arraySourceKPU.push({
              'f': data.data.KP.children[i][1],
              'v': data.data.KP.children[i][5]
            }, parseInt(data.data.KPU.table[key]['21']) > parseInt(data.data.KPU.table[key]['22']) ? 1 : 2);
            dataSourceKPU.push(arraySourceKPU);
            dataSourceKP.push(arraySourceKP);
          }
          console.log(dataSourceKPU);
          drawRegionsMap(dataSourceKPU);
        });
    }

    function changeDtaSourcetoKP() {
      drawRegionsMap(dataSourceKP);
    }

    function changeDtaSourcetoKPU() {
      drawRegionsMap(dataSourceKPU);
    }

    function drawRegionsMap(source) {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Paslon', 'Jumlah Suara');
      data.addRows(source)

      var options = {
        'title': 'Map',
        'width': document.documentElement.clientWidth - 100,
        'height': 600,
        'region': 'ID',
        'colorAxis': {
          colors: ['red', 'green']
        },
        'resolution': 'provinces'
      };

      var container = document.getElementById('map_canvas');
      var geochart = new google.visualization.GeoChart(container);
      geochart.draw(data, options);
    };
  </script>
  <title>Visualiasi Data</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">mas-madmad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Beranda <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpemilu.org">Kawal Pemilu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpilpres2019.id">Kawal Pilpres 2019</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kpu.go.id">Komisi Pemilihan Umum</a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container-fluid" id="app" style="margin-top:80px;">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <p>Semua table informasi di bawah ini merupakan kurasi dari situs kawalpemilu,kawalpilpres2019 dan Official Resmi Dari KPU, <strong>dan untuk Data pada halaman ini masih belum final dan akan terus diperbarui secara berkala!</strong>
          </p>
          <h5>Latest Update: 2019-04-24 07:15:03</h5>
        </div>
        <div id='map_canvas'></div>
      </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" onclick="changeDtaSourcetoKP()">KAWAL PEMILU</button>
          <button type="button" class="btn btn-primary" onclick="changeDtaSourcetoKPU()">KPU</button>
        </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>
