<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {
      'packages': ['geochart']
    });
    google.setOnLoadCallback(fetchAPI);
    function fetchAPI(){
      drawRegionsMap()
    }
    function drawRegionsMap() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Popularity');
      data.addRows([
        [{
          f: 'Aceh',
          v: 'ID-AC'
        }, 10],
        [{
          f: 'Bali',
          v: 'ID-BA'
        }, 7],
        [{
          f: 'Bangka Belitung',
          v: 'ID-BB'
        }, 2],
        [{
          f: 'Banten',
          v: 'ID-BT'
        }, 6],
        [{
          f: 'Bengkulu',
          v: 'ID-BE'
        }, 2],
        [{
          f: 'Gorontalo',
          v: 'ID-GO'
        }, 8],
        [{
          f: 'Jambi',
          v: 'ID-JA'
        }, 1],
        [{
          f: 'Jawa Barat',
          v: 'ID-JB'
        }, 5],
        [{
          f: 'Jawa Tengah',
          v: 'ID-JT'
        }, 5],
        [{
          f: 'Jawa Timur',
          v: 'ID-JI'
        }, 3],
        [{
          f: 'Kalimantan Barat',
          v: 'ID-KB'
        }, 2],
        [{
          f: 'Kalimantan Selatan',
          v: 'ID-KS'
        }, 4],
        [{
          f: 'Kalimantan Tengah',
          v: 'ID-KT'
        }, 4],
        [{
          f: 'Kalimantan Timur',
          v: 'ID-KI'
        }, 10],
        [{
          f: 'Kalimantan Utara',
          v: 'ID-KU'
        }, 1],
        [{
          f: 'Kepulauan Riau',
          v: 'ID-KR'
        }, 5],
        [{
          f: 'Lampung',
          v: 'ID-LA'
        }, 8],
        [{
          f: 'Maluku',
          v: 'ID-MA'
        }, 7],
        [{
          f: 'Maluku Utara',
          v: 'ID-MU'
        }, 3],
        [{
          f: 'Nusa Tenggara Barat',
          v: 'ID-NB'
        }, 4],
        [{
          f: 'Nusa Tenggara Timur',
          v: 'ID-NT'
        }, 8],
        [{
          f: 'Papua',
          v: 'ID-PA'
        }, 6],
        [{
          f: 'Papua Barat',
          v: 'ID-PB'
        }, 5],
        [{
          f: 'Riau',
          v: 'ID-RI'
        }, 3],
        [{
          f: 'Sulawesi Barat',
          v: 'ID-SR'
        }, 5],
        [{
          f: 'Sulawesi Selatan',
          v: 'ID-SN'
        }, 4],
        [{
          f: 'Sulawesi Tengah',
          v: 'ID-ST'
        }, 8],
        [{
          f: 'Sulawesi Tenggara',
          v: 'ID-SG'
        }, 1],
        [{
          f: 'Sulawesi Utara',
          v: 'ID-SA'
        }, 10],
        [{
          f: 'Sumatera Barat',
          v: 'ID-SB'
        }, 3],
        [{
          f: 'Sumatera Selatan',
          v: 'ID-SS'
        }, 10],
        [{
          f: 'Sumatera Utara',
          v: 'ID-SU'
        }, 9],
        [{
          f: 'Jakarta Raya',
          v: 'ID-JK'
        }, 10],
        [{
          f: 'Yogyakarta',
          v: 'ID-YO'
        }, 2]
      ]);

      var options = {
        'title': 'Map',
        'width': document.documentElement.clientWidth,
        'height': 800,
        'region': 'ID',
        'colorAxis': {
          colors: ['green', 'red']},
          'resolution': 'provinces'
        };

        var container = document.getElementById('map_canvas');
        var geochart = new google.visualization.GeoChart(container);
        geochart.draw(data, options);
      };
  </script>
  <title>Visualiasi Data</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">mas-madmad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Beranda <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpemilu.org">Kawal Pemilu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kawalpilpres2019.id">Kawal Pilpres 2019</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kpu.go.id">Komisi Pemilihan Umum</a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container-fluid" id="app">

    <div class="row">
      <div id='map_canvas'></div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>
